@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.attribution {
    font-size: 11px; 
    position: fixed; 
    top: 600px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
.container{
    background-color:  hsl(210, 46%, 95%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMobile{
    display: none;
}
.imgDesktop{
    display: flex;
    width:180px ;
    height: 180px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.doubleCard{
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 460px;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card1{
    display: flex;
    flex-direction: column;
}
.card2{
    display: flex;
    flex-direction: column;
}

.person{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.title{
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 0.80em;
    color: hsl(217, 19%, 35%);
    width: 80%;
    height: 20%;
}
.text{
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 0.50em;
    width: 80%;
    height:10%;
    color:hsl(217, 19%, 35%) ;
}
.info{
    display: flex;
    flex-direction:column;
}
.avatar{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    border-radius: 20px;
}
.name{
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 0.50em;
    margin-top: 2px;
    margin-left: 10px;
    color: hsl(217, 19%, 35%);
}
.date{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 0.50em;
    margin-top: -7px;
    margin-left: 10px;
    color:hsl(217, 19%, 35%) ;
}

#share{
    position: relative;
    left: 95px;
    top: 7px;
    width: 0.54em;
    height: 0.54em;
    padding: 5px;
    border-radius: 10px;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}

#darkShare{
    display: none;
    position: relative;
    left: 95px;
    top: 7px;
    width: 0.70em;
    height: 0.70em;
    padding: 5px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    cursor: pointer;
}

.triangulo-invertido {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8.6px solid hsl(217, 19%, 35%);
    margin: 0;
  }

  .vineta{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 358px;
    margin-top: 30px;
  }

  .caja_vineta{
    display: flex;
    margin: 0;
    background-color: hsl(217, 19%, 35%);
    height: 33px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: hsl(212, 23%, 69%);
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 0.45em;
    width: 75%;
    height: 85%;
  }

  .redes p{
    letter-spacing: 5px;
  }

  .fb{
    margin-left: 10px;
    width: 13px;
    height: 13px;
  }

  .tw{
    margin-left: 10px;
    width: 13px;
    height: 13px;
  }

  .pint{
    margin-left: 10px;
    width: 13px;
    height: 13px;
  }

  @media (max-width: 768px){
    .doubleCard{
        flex-direction: column;
        width: 300px;
        height: 450px;
        border-radius: 10px;
    }
    .imgDesktop{
        display: none;
    }

    .card1{
        width: 100%;
        height: 40%;
    }

    .imgMobile{
        display: flex;
        width: 300px;
        height: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -11px;
    }

    .title{
        margin-top:0;
        font-size: 1em;
        width: 85%;
        height: 20%;
    }

    .text{
        margin-top: 20px;
        margin-bottom: -20px;
        font-size: 0.85em;
        width: 89%;
        height: 30%;
    }

    .attribution{
        top: 845px;
    }

    .person{
        margin-top: 50px;
    }

    .avatar{
        width: 40px;
        height: 40px;
        margin-top: 2px;
        border-radius: 20px;
    }

    .name{
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 0.70em;
        margin-top: 2px;
        margin-left: 10px;
        color: hsl(217, 19%, 35%);
    }
    .date{
        font-family: 'Manrope';
        font-weight: 500;
        font-size: 0.70em;
        margin-top: -7px;
        margin-left: 10px;
        color:hsl(217, 19%, 35%) ;
    }

    #share{
        position: relative;
        left: 95px;
        top: 7px;
        width: 0.7em;
        height: 0.7em;
        padding: 7px;
        border-radius: 10px;
        background-color: hsl(210, 46%, 95%);
        cursor: pointer;
    }
    
    #darkShare{
        display: none;
        position: relative;
        left: 95px;
        top: 7px;
        width: 0.9em;
        height: 0.9em;
        padding: 7px;
        border-radius: 15px;
        background-color: hsl(217, 19%, 35%);
        cursor: pointer;
    }

    .vineta{
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 253px;
        margin-top: 260px;
      }
    
      .caja_vineta{
        display: flex;
        margin: 0;
        background-color: hsl(217, 19%, 35%);
        height: 33px;
        width: 150px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
  }
